@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

/* Shared styles */
.display-flex {
  display: flex;
}

/* dark 01 */
.text-gray {
  color: #131313;
}
/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.text-primary {
  color: #ff900e;
}

.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 20px 25px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main {
  max-width: 100%;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.813rem;
}

/* Header Style */
/* header related style */

.header-container {
  width: 100%;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 2.813rem;
}

.nav-links {
  gap: 30px;
}

.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 80%;
  margin: 0 auto;
}

.banner-content {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  font-size: 16px;
}
.banner-img {
  max-width: 100%;
}

/* Teams style */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}

.some-facts {
  max-width: 80%;
  margin: 0 auto;
}

.fact-description {
  max-width: 540px;
  margin-bottom: 100px;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  font-weight: 600;
  font-size: 2.813rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.sponspors-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponspros-companis {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponspros-companis img {
    filter: grayscale(100%);
}


/* Responsive Media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .nav-links {
    gap: 5px;
  }
  .banner-title {
    font-size: 2rem;
  }

  .team-img-container,
  .facts-container,
  .sponspros-companis {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    margin-left: 80px;
  }

  .facts-container,
  .sponspros-companis {
    justify-items: center;
    gap: 24px;
  }
}

/* Media size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }

  
  .facts-container, .sponspros-companis {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-items: center;
  }
  
}
